.posts{
    margin: 30px 0px;
    .post{
        &:not(:first-child){
            margin-top: 25px;
        }
        .user{
            display: flex;
            width: fit-content;
            align-items: center;
            .img{
                margin-right: 15px;
                height: 45px;
                width: 45px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .name{
                font-weight: 700;
                font-size: 18px;
            }
        }
    }
}